
.container {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    width: 50%;
}

.about-link {
    top: 0;
    margin: 20px;
    padding-top: 10px;
    padding-right: 20%;
}

.about-link a {
    color: #6f6f6f; /* Set the link color */
    font-size: 16px; /* Set the font size */
    text-decoration: none; /* Remove the underline */
    font-weight: bold; /* Set the font weight */
}

.about-link a:hover {
    color: #b64800; /* Set the hover color */
}


.modal {
    visibility: hidden; 
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease, visibility 0.5s ease;
}

.modal-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    opacity: 0;
    top: 20%;
    transition: opacity 0.5s ease, transform 0.5s ease;
    text-align: left; /* Center align the text */
    color: #333; /* Change text color */
    font-size: 16px; /* Change font size */
    line-height: 1.5; /* Change line height */
    font-weight: 300; /* Change font weight */
}

.modal-content h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.modal-content p {
    font-weight: 400;
    font-size: 16px;
}

.modal.show {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal.show .modal-content {
    opacity: 1;
    transform: translateY(0);
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.about-link {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}



label[type="checkbox"]{
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}

input[type="number"], input[type="text"] {
  border: none;
  width: 70%;
  background-color: #f3f3f3;
  color: #333;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-right: 0px; /* adjust as needed */
  vertical-align: middle;
    font-weight: 500;
  font-size: 14px;
}

label[for="trainingTokens"],
input#trainingTokens {
  margin-bottom: 5px;
}


button {
    width: 35%;
    background-color: #e86000;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 26px;
    margin-bottom: 20px; /* Add this line */
}

ul {
    padding-left: 20px;
    list-style-type: none;
}

ul li {
    margin: 5px;
    font-weight: 400;
    font-size: 16px;
}
button:hover {
    background-color: #e86000;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


#mode-selector {
  width: 74%;
  background-color: #f3f3f3;
  color: #333;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  border: none;
}

#mode-selector:focus {
  outline: none;
}

#mode-selector option {
  padding: 10px;
}

label[for="mode-selector"] {
  display: block;
  margin-right: 0px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}


body {
    font-family: 'Rubik', Arial, sans-serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', Arial, sans-serif;
    margin-top: 0;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}


