
.container {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    width: 50%;
}

label[type="checkbox"]{
  display: inline-block;
  width: 60%;
  vertical-align: middle;
}

input[type="number"], input[type="text"] {
  border: none;
  width: 70%;
  background-color: #f3f3f3;
  color: #333;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-right: 0px; /* adjust as needed */
  vertical-align: middle;
    font-weight: 500;
  font-size: 14px;
}

label[for="trainingTokens"],
input#trainingTokens {
  margin-bottom: 5px;
}


button {
    width: 35%;
    background-color: #e86000;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 26px;
    margin-bottom: 20px; /* Add this line */
}

ul {
    padding-left: 20px;
}

ul li {
    margin: 5px;
    font-weight: 400;
    font-size: 16px;
}
button:hover {
    background-color: #e86000;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
    font-family: 'Rubik', Arial, sans-serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', Arial, sans-serif;
    margin-top: 0;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}


