<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Converter</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>🐭Chinchilla2Llama🦙</h1>
    <h4>Estimate how much data and compute you need to train a llama style model</h4>
    <div class="container">
        <div class="left">
            <h2>Enter Your Model</h2>
            <label for="mode-selector">Mode:</label>
            <select id="mode-selector" name="mode-selector">
              <option value="chinchilla-to-llama" selected>Chinchilla => Llama</option>
              <option value="llama-to-chinchilla">Llama => Chinchilla</option>
            </select>
            <label for="parameters">Parameters (billions):</label>
            <input type="number" id="parameters">
            <label for="trainingTokens">Training Tokens (billions):</label>
            <input type="number" id="trainingTokens">
            <br>
            <label class="chinchilla-to-llama" for="chinchilla" style="display: inline-block;">Chinchilla Optimal:</label>
            <input  class="chinchilla-to-llama" type="checkbox" id="is_chinchilla" name="chinchilla" checked>
            <br><br>
            <h2 id="output-mode-h2">Make it a Llama Style Model</h2>
            <label class="chinchilla-to-llama" for="compactModelParameters">Compact Model Parameters (billions):</label>
            <input class="chinchilla-to-llama" type="number" id="compactModelParameters">
            <label for="inferences">Number of Inferences (billion tokens):</label>
            <input type="number" id="inferences" placeholder="optional">
            <button id="calculate">Calculate</button>
        </div>
    <div id="results"></div>
    </div>
    <div class="chart-container">
    <canvas id="myChart"></canvas>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
